main {
    height: auto;
    width: 100%;
    background-color: rgb(238, 246, 255);
    display: flex;
    flex-direction: column;
}

.about-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5%;
    padding: 40px;
    height: auto;
    width: 80%;
    background-color: white;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 5%;

}

.about-detail h1 {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #008080;

}

.p {
    /* background-color: #c25454; */
    margin-top: 10px;

}

.img img {
    width: 100%;
}

#about-content p {
    font-style: italic;
    font-size: 1rem;
    /* font-weight: bold; */
}

/* technology */
.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: auto;
    width: 80%;
    background-color: white;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 5%;
    margin-top: 10%;

}

.technology h1 {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #008080;

}

#about-content {
    height: auto;
    width: 100%;
    /* background-color: rgb(218, 179, 132); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.p {
    width: 60%;
    margin-top: 10px;
}

#additional-content {
    display: none;
    /* Initially hide the additional content */
}

#additional-content img {

    width: 60%;
}

#additional-content1 {
    display: none;
    /* Initially hide the additional content */
}

#Output {
    height: 30%;
    width: 60%;
}

.hidden-content {
    display: none;
}

.img {
    width: 40%;

}

.img img {
    width: 60%;
    margin-left: 20%;
}

#about-content p {
    font-style: italic;
    font-size: 1rem;
    /* font-weight: bold; */
}

/* project brief */
.project-brief {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    padding: 40px;
    height: auto;
    width: 80%;
    background-color: white;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 5%;
}

#brief-content {
    height: auto;
    width: 100%;
    /* background-color: rgb(218, 179, 132); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.brief-p {
    width: 50%;
}

.img {
    /* */
    width: 50%;
}

.img img {
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px rgb(83, 82, 82);
}

.brief-p h1 {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #008080;

}


/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 200px)and (max-width: 430px) {
    /* about */
    .about-detail {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    #about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #d49c9c; */
    }

    #about-content .p {
        /* background-color: #c25454; */
        margin-top: 10px;
        width: 100%;
    }

    #about-content .img {
        width: 100%;
    }

/* technology */
    .technology {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

/* project brief */
    .project-brief {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    #brief-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #brief-content .brief-p {
        width: 100%;
    }

    #brief-content .img {
        width: 100%;
    }
}

/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 400px)and (max-width: 600px) {
     /* about */
     .about-detail {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    #about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #d49c9c; */
    }

    #about-content .p {
        /* background-color: #c25454; */
        margin-top: 10px;
        width: 100%;
    }

    #about-content .img {
        width: 100%;
    }

/* technology */
    .technology {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

/* project brief */
    .project-brief {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }

    #brief-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #brief-content .brief-p {
        width: 100%;
    }

    #brief-content .img {
        width: 100%;
    }
}

/* Tablet view  ========================================================================================================================================================================== */
@media only screen and (min-width: 600px) and (max-width: 850px) {

    /* about */
    .about-detail {
        width: 90%;
    }

    #about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: #d49c9c; */
    }

    #about-content .p {
        /* background-color: #c25454; */
        margin-top: 10px;
        width: 100%;
    }

    #about-content .img {
        width: 100%;
    }

/* technology */
    .technology {
        width: 90%;
    }

/* project brief */
    .project-brief {
        width: 90%;
    }

    #brief-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #brief-content .brief-p {
        width: 100%;
    }

    #brief-content .img {
        width: 100%;
    }
}

/* Laptop view  ========================================================================================================================================================================== */
@media only screen and (min-width: 850px) and (max-width: 1350px) {

    .about-detail {
        width: 90%;
    }

    .p {
        width: 60%;
    }

    .img {
        width: 40%;
    }

    .img img {
        margin-left: 5%;
        margin-top: 10%;
        width: 100%;
    }

    /* technology */
    .technology {
        width: 90%;
    }

    /* project brief */
    .project-brief {
        margin-top: 5%;
        width: 90%;
    }

    #brief-content {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .brief-p {
        width: 60%;
    }

    .img {
        width: 40%;
    }

    .img img {
        width: 90%;
    }
}